:root {
  --main-background: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
  --main-color: #0e6ac7;
  --button-text: #f8fcfc;
}

body {
  background: var(--main-background);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.appWrap {
  padding: 100px;
}

h1 {
  font-family: "Radio Canada", sans-serif;
  display: block;
  margin: 0 auto;
  padding-top: 16px;
  padding-left: 20px;
  text-align: center;
}
h2 {
  font-family: "Marcellus", serif;
  opacity: 0.9;
  display: block;
  margin: 0 auto;
  padding-left: 20px;
  padding-bottom: 20px;
  text-align: center;
}
.me {
  font-size: 79px;
  padding-bottom: 20px;
}
#birds {
  max-height: 260px;
  padding-left: 100px;
  padding-bottom: 40px;
}
.content {
  padding-top: 140px;
}
.navigation-link a {
  border-radius: 8px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  display: block;
  margin: 0 auto;
  max-width: 150px;
  text-align: center;
  margin-top: 60px;
}
.contact-link {
  background: var(--main-color);
  color: var(--button-text);
}

@media (max-width: 830px) {
  h1 {
    font-size: 20px;
  }
  .me {
    font-size: 36px;
  }
  #birds {
    max-height: 160px;
    display: block;
    margin: 0 auto;
    padding: 0;
  }
  h2 {
    font-size: 20px;
  }

  .contact-link {
    display: block;
    margin: 0 auto;

    text-align: center;
  }
}
